@media (max-width: 600px) {

  .site-navigation {
    display: none;
  }

  .site-main {
    margin: 0;
  }

  .button-primary {
    max-width: 25%;
  }

  .site-logos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .site-logos-container {
    min-width: auto;
  }

  .site-information {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .entry-description {
    width: auto;
    padding: 0 4em;
  }

  .button-primary {
    max-width: 20%;
    margin-top: 2em;
  }

  .site-form {
    margin: 0;
  }
  
  .entry-title {
    font-size: 10px;
  }

  .site-form form > p {
    flex-direction: column;
  }

  .site-form input {
    width: 100%;
  }

  .site-form button {
    margin: 0 auto;
    padding: 0.8rem 5em 0.8rem 3rem;
  }

  .site-posts {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .site-post {
    max-width: 70%;
  }

  .site-blog-container h2 {
    font-size: 50px;
    margin-left: 0;
    padding: 0 2em;
  }

  .site-post h2 {
    line-height: 1;
    font-size: 23px;
    margin: 1em;
    margin-bottom: 0;
    padding: 0;
  }

  .site-footer {
    flex-direction: column;
    text-align: center;
  }

  .site-information-text .entry-title {
    font-size: 50px;
  }
}