@media (max-width: 600px) {

  .home-navbar {
    height: 30px;
  }

  .home-navbar1 {
    display: none;
  }

  .category-card-category-card {
    width: 50%;
    margin-top: 1em;
  }

  .home-cards-container {
    grid-gap: 0;
  }

  .category-card-image {
    width: 90%;
    height: auto;
    aspect-ratio: 1/1;
  }

  .section-container {
    flex-direction: column;
  }

  .home-left4 {
    padding-bottom: 2em;
    padding-top: 2em;
  }

  .home-text30 {
    width: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .home-content {
    margin-bottom: 20px;
  }

  .home-image6 {
    width: 100%;
    height: auto;
  }

  .max-width-container {
    padding: 0 15px 0 15px;
  }

  .home-container08 {
    justify-content: center;
    flex: 1 1 auto;
  }

  .blog-post-card-blog-post-card {
    max-width: 100%;
  }

  .home-main {
    padding-bottom: 50px;
  }

  .home-footer1 {
    flex-direction: column-reverse;
    padding: 50px 0 20px 20px;
  }

  .home-links-container {
    flex-direction: column;
    margin-bottom: 4em;
  }
}