* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px/1.5 Lato, sans-serif;
  padding: 2em;
}

p {
  padding-bottom: 1.5em;
}

a {
  text-decoration: none;
  color: black;
}

.media {
  margin-top: 2em;
}

.content {
  padding: 0em 5em;
}

.body {
  padding: 0em 2em;
}

.content > p {
  padding-bottom: 0;
}

.body > p {
  padding-bottom: 0;
}

.italic {
  font-style: italic;
}

h2 {
  padding-top: 1em;
}

section > p {
  padding: 0;
}

.first-h2 {
  padding-top: 0;
}

body::before {
  background-color: #369;
  color: #fff;
  padding: 1em 1.5em;
  margin-bottom: 2em;
  border-radius: 0.3em;
}

p:last-of-type {
  padding-bottom: 0;
}

@media (min-width: 30em) and (orientation: landscape) {
  body::before {
    display: block;
    content: "The viewport width is larger than 30em and the orientation is landscape.";
  }
}
@media (min-height: 680px), screen and (orientation: portrait) {
  body::before {
    display: block;
    content: "The viewport height is larger than 680px or the media type is screen and the orientation is portrait.";
  }
}
@media not (min-width: 600px) {
  body::before {
    display: block;
    content: "The view port is NOT larger than 600px";
  }
}
