@import url(https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #C1BDBA;
  font: 14px/1.5;
  font-family: "Kode Mono";
}

body,
input {
  font: inherit;
}

body {
  padding: 2em;
}

.site {
  padding: 2.5em;
  max-width: 746px;
  margin: 0 auto;
  background-color: #24333C;
}

header h1 {
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
  margin-bottom: 1.5em;
  font-size: 2.5em;
}

.buttons {
  display: flex;
}


main {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  align-items: center;
  justify-content: center;
}

main input {
  color: #435359;
  background-color: #24333C;
  border: 2px solid #435359;
  padding: 0.2em 0.5em;
  padding-bottom: 0;
  font-size: 1.3em;
}

main input[type="text"] {
  display: block;

}

main input[type="email"],
main input[type="password"] {
  width: 100%;
}


.site a {
  font-size: 16px;
  width: 100%;
  text-decoration: none;
  padding: 1em 8em;
  margin-bottom: 3em;
}

.site a:first-of-type {
  color: white;
  background-color: #1AB188;
}

.site a:last-of-type {
  color: #A0B3B0;
  background-color: #435359;
}

.site a:last-of-type:hover {
  background-color: #179A77;
  color: white;
}

input[type="submit"] {
  width: 100%;
  margin-top: 1.5em;
  padding: 0.7em;
  text-transform: uppercase;
  font-size: 2em;
  color: white;
  background-color: #1AB188;
  font-weight: bold;
  letter-spacing: 5px;
}

@media (max-width: 680px) {
  body {
    display: flex;
    flex-wrap: wrap;
  }
}