@media (max-width: 600px) {
  
  .navigation-nav {
    display: none;
  }

  .home-text {
    display: none;
  }

  .home-tab-selector-cards-container {
    display: flex;
    flex-direction: column;
    grid-row-gap: 0;
    gap: 2em;
  }

  .home-max-width1 {
    flex-direction: column;
  }

  .home-image {
    display: none;
  }

  .home-text01 {
    margin-top: 2em
  }

  .home-text10 {
    margin-right: 0.5em;
  }

  .section-container {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .home-links-container {
    flex-direction: column;
    gap: 2em;
  }

  .home-top-part {
    flex-direction: column;
    gap: 2em;
  }

  .button-primary {
    padding: 1.5em;
  }
}